@media only screen and (min-width: 700px) and (max-width: 800px),
only screen and (min-device-width: 700px) and (max-device-width: 800px){
	
	
	.fL{
	float:center;
	margin-left:30%;
	}
	
	
	
	/*
	================================================================================
	|                                     HEADER                                   |
	================================================================================
	*/
	#header{
		min-width:700px;
		width: 100%;
	}
	#header .top_info{
		width: auto;
		/* margin: 0 auto; */
		/* padding: 15px 20px 25px; */
	}
	#header .top_info .logo{
		width: auto;
		float: none;
		padding: 0px 0 0 1px;
	}
	#header .top_info .header_contacts{
		width: auto;
		float: left;
	}
	#header .top_info .header_contacts .phone{
		padding: 0 0 2px 0;
	}
	#header .top_info .socials{
		float: right;
		width: auto;
		text-align: right;
	}
	#search_form{
		float: none;
		position: absolute;
		top:20px;
		right: 20px;
	}
	/*
	================================================================================
	|                                     NAVIGATION                               |
	================================================================================
	*/
	.bg_navigation{
		width: 100%;
		min-width: 700px;
	}
	.navigation_wrapper{
		width: auto;
	}
	#navigation{
		width: auto;
		float: none;
		padding: 0 0 0 0;
	}
	/*
	================================================================================
	|                                     CONTENT                                  |
	================================================================================
	*/
	#content{
		width:100%;
		min-width: 700px;
		margin: 0 auto;
	}
	.content{
		width: auto;
		margin: 0 auto;
	}
	.slider_wrapper{
		float: none;
		width: 100%;
		padding: 0 0px 0 0;
		margin-bottom: 20px;
	}
	.search_auto_wrapper{
		width: 100%;
		float: right;
	}
	.main_wrapper .left,
	.main_wrapper .right{
		width: 98.5%;
		float:left;
	}
	.main_wrapper .kanan{
		width: 100%;
		float: right;
		padding: 0 0 0 0px;
	}
	.wrapper_2 .left,
	.wrapper_3 .left{
		width: 100%;
		float: left;
		padding-top:13px;
	}
	.wrapper_2 .left .kiri,
	.wrapper_2 .left .kanan{
		width:47%;
		float:left;
		padding-left: 8px;
		padding-right: 8px;
	}
	.wrapper_2 .right,
	.wrapper_3 .right{
		width: 100%;
		float: right;
		padding: 0 0 0 0px;
	}
	.home_tabs .box.visible{
		position:relative;
	}
	.home_tabs .box .all{
		margin:0 80px 0 0;
	}
	/*
	================================================================================
	|                                     SLIDER                                   |
	================================================================================
	*/
	.home_slider .slider{
		width: 100%;
		
	}
	.home_slider .slider .slide{
		width: 100%;
		
	}
	.home_slider .slider .slide img{
		width: 100%;
		
	}
	.home_slider .slider .slide .description{
		width: 100%;
		padding: 15px 0 15px;
	}
	.home_slider .slider .slide .description h2{
		max-width: 400px;
	}
	.home_slider .slider .slide .description p{
		max-width: 400px;
	}
	.home_slider .bx-controls{
	bottom:20px;
	}

	
	/*
	================================================================================
	|                              CUSTOM SELECT                                   |
	================================================================================
	*/
	.select_box_1 .select-list{
		width: 100%;
	}
	.select_box_2 .select-list{
		width: 100%;
	}
	.catalog_sidebar .select_box_1 .select-list,
	.car_sidebar .select_box_1 .select-list{
		width: 100%;
	}
	.catalog_sidebar .select_box_2 .select-list,
	.car_sidebar .select_box_2 .select-list{
		width: 100%;
	}
	.catalog_sidebar .search_auto .chb_wrapper{
		float: left;
		padding-top: 20px;
	}
	.catalog_sidebar .search_auto .btn_search{
		float: right;
	}
	/*
	================================================================================
	|                                     BANNERS                                   |
	================================================================================
	*/
	.banner a img{
		width: 100%;
	}
	.banner_1{
		width: 46%;
	}
	.banner_2{
		width: 46%;
	}
	.main_banner{
		padding: 18px 10px 18px 10px;
	}
	.main_banner .text_wrapper{
		width: auto;
		float: none;
		padding: 0 0 0 57px;
	}
	.main_banner a{
		margin: 12px 0 0 67px;
	}
	/*
	================================================================================
	|                                     RECENT BLOG                              |
	================================================================================
	*/
	.recent_blog{
		padding-bottom: 10px;
	}
	.recent_blog h2{
		margin-bottom: 10px;
	}
	.recent_blog .post_block{
		float: left;
		overflow: hidden;
		width: 25%;
		margin: 0 3% 0 0;
		padding: 19px 19px 28px;
	}
	.recent_blog .post_block.last{
		margin: 0;
		float: right;
	}
	.recent_blog .post_block a.thumb{
		float: none;
		width: 100%;
		height: auto;
	}
	.recent_blog .post_block a.thumb img{
		width: 100%;
		height: auto;
	}
	
	/*
	================================================================================
	|                               HOME NEWS		                              |
	================================================================================
	*/
	.news {
		overflow: hidden;
		float: none;
		width: 94%;
	}
	.news h2{
		margin: 0 auto 20px;
	}
	.news_wrapper{
		float: left;
		width: auto;
		overflow: hidden;
	}
	.news .news_box{
		margin: 0;
		width: auto;
		float: center;
	}
	.news .news_box .thumb{
		width: 50%;
		
	}
	.news .news_box .thumb img{
		width: 100%;
		
	}
	.news .news_box2{
		margin: 0;
		width: 48%;
		float: left;
		margin-right:5px;
		margin-left: 5px;
		margin-bottom: 5px;
		
	}
	.news .news_box2 .thumb2{
		width: 100%;
		height: 110px;
	}
	.news .news_box2 .thumb2 img{
		width: 100%;
		height:150px;
		float:left;	
	}
	.news .news_box h5{
	padding: 0 0 0px 0px;
}
	.news .all_wrapper{
		width: 100%;
		margin: 0;
		clear: both;
	}

	/*
	================================================================================
	|                               SUBSCRIBE		                              |
	================================================================================
	*/
	.side_banners{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	}
	.side_banners img{
		width: 100%;
		height: 120px;
	}
	/*
	================================================================================
	|                                     FOOTER                                   |
	================================================================================
	*/
	#footer{
		min-width:700px;
		width: 100%;
	}
	
	.copyright_wrapper{
		width: 80%;
		min-width: 700px;
	}
	.copyright_wrapper .copyright .kiri{
	width:auto;
	}
	.copyright_wrapper .copyright .kanan{
	width:auto;
	padding-right:5%;
	}
	.copyright_wrapper2{
	
	width: 100%;
	min-width: 700px;
	font-size:20px;
	background: #ffff00;
	
	}
	/*
	================================================================================
	|                                     404	                                   |
	================================================================================
	*/
	.needs_wrapper .post_block{
		float: left;
		width: 30%;
		padding: 0 2% 0 1%;
	}
	.needs_wrapper .post_block.center{
		padding: 0 1% 0 2%;
	}
	/*
	================================================================================
	|                                  CONTACTS		                                |
	================================================================================
	*/
	.contacts_box .left{
		width: 30%;
		float: left;
	}
	.contacts_box .map{
		width: 65%;
		float: right;
		overflow: hidden;
	}
	.contact_form{
		padding: 0 0 28px;
	}
	.contact_form h2{
		margin-bottom: 15px;
	}
	.contact_form .fld_box{
		width: 33%;
		float: left;
		padding: 0 0px 0 0px;	
	}
	
	.contact_form input{
	    width: 80%;
	}
	.contact_form textarea{
	    width: 95%;
	}
	ul.personal_list{
		overflow: hidden;
	}
	ul.personal_list li{
		width: 80%;
		float: none;
		display: block;
		margin: 0 0px 36px 0;
	}
	ul.personal_list li img.thumb{
		float: left;
		margin: 0 0 0 0;
		width:40%;
	}
	ul.personal_list li .inner{
		float: none;
		padding: 18px 0 0 25px;
		width: auto;
	}
	/*
	================================================================================
	|                                     CATALOG                                   |
	================================================================================
	*/
	.main_catalog{
		float:none;
		width: auto;
		padding: 15px 0 0 0;
	}
	
	
	/*
	================================================================================
	|                                CATALOG LIST	                              |
	================================================================================
	*/
	.catalog_list li{
		width: 32%;
		margin-right: 0px;
		overflow: hidden;
	}
	
	.catalog_list li a{
		cursor: pointer;
		width: auto;
		height: auto;
	}
	.catalog_list li .description{
		position: absolute;
		top:0;
		bottom: auto;
		left:0;
		width: 86.5%;
		line-height: 18px;
	}
	.catalog_list li img{
		top:0;
		left:0;
		width: 100%;
		
	}
	.catalog_list li .title{
		bottom:0;
		left:0;
		width: 86.5%;
	}
	
	
	/*
	================================================================================
	|                                SELL			                              |
	================================================================================
	*/
	.sell_box .select_wrapper,
	.sell_box .input_wrapper,
	.sell_box .single_chb_wrapper{
		width: 100%;
	
	}
	.sell_box .input_wrapper textarea{
		width: 90%;	
	}
	.sell_box .input_wrapper input{
		width: 90%;
	}
	.sell_box .chb_group{
		float: left;
		padding: 4px 3% 20px 0;
		width: 60%;
	}
	.sell_box .chb_group.last{
		width: 30%;
	}
	.chb_devider{
		display: block;
		clear: both;
	}
	/*
	================================================================================
	|                                     CHECKBOXES                               |
	================================================================================
	*/
	.custom_chb_wrapper label{
		float: none;
		padding: 0 0 0 25px;
		display: block;
	}
	/*
	================================================================================
	|                                 BLOG		                                   |
	================================================================================
	*/
	.blog{
		width: 100%;
		float: none;
		padding: 0 0px 20px 0;
	}
	.blog_post .blog_desc{
		float: none;
		width: auto;
		padding: 2px 0 0 205px;
	}
	/*
	================================================================================
	|                                     WIDGETS                                   |
	================================================================================
	*/
	.sidebar{
		float: left;
		width: 100%;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.sidebar .widget{
		float: left;
		width: 37%;
		margin-right: 3%;
		margin-left: 3%;
	}
	.sidebar .widget .thumb{
		width: auto;
		display: block;
	}
	.sidebar .widget .thumb img{
		width: 100%;
	}
	.sidebar .tabs_widget{
		width: 43%;
		margin-right: 2%;
		margin-left: 3%;
		float: left;
	}
	.sidebar .tabs_widget .tab_post .desc{
		float: none;
		padding: 2px 0 0 71px;
	}
	.widget_divider{
		display: block;
		clear: both;
	}
	
	/*
	================================================================================
	|                                     SERVICES                                 |
	================================================================================
	*/
	.services .service{
		width: 24%;
		float: left;
		padding: 19px 19px 14px 19px;
		height: auto;
		overflow: hidden;
	}
	.services .service.center{
		margin: 0 4% 0 4%;
	}
	.services .service h2{
		min-height: 39px;
		font-size: 26px;
		line-height: 32px;
		padding: 3px 0 11px 53px;
	}
	